[run]
omit = 
    {{ cookiecutter.repo_name }}/__init__.py
    {{ cookiecutter.repo_name }}/routes.py
    {{ cookiecutter.repo_name }}/alembic/*
    {{ cookiecutter.repo_name }}/models/*
    {{ cookiecutter.repo_name }}/tests/*
